<div class="media">
  <div class="media-body">
    <h2>Article</h2>
    <div class="border border-info p-2 w-75">
      <h5><%= @article.title %></h5>
      <%= @article.text %>
      <p class="font-italic small text-right "><%= @article.user.user_name %></p>
    </div>

    <div class="media pl-5 pt-3 pb-3 small">
      <div class="media-body">
        <% if @article.comments.count > 0 %>
          <h3>Comments</h3>
        <% end %>
        <%= render @article.comments %>
      </div>
    </div>
  </div>
</div>

<div class="border p-2 w-75">
  <h4>Add a comment:</h4>
  <%= render 'comments/form' %> 
</div>

<div class="text-right">
  <% if @article.user.user_name == current_user.user_name %>
    <%= link_to 'Edit', edit_article_path(@article), :class=>"badge badge-secondary" %>
  <% end %>
  <%= link_to 'Back', articles_path, :class=>"badge badge-secondary" %>
</div>