<div class="media">
  <div class="media-body">
    <h2>Article</h2>
    <h5 class="mt-3"><%= @article.title %></h5>
    <%= @article.text %>
    <p class="font-italic small"><%= @article.user.user_name %></p>

    <div class="media p-3 small">
      <div class="media-body">
        <h2>Comments</h2>
        <%= render @article.comments %>
      </div>
    </div>
  </div>
</div>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<div class="text-right">
  <% if @article.user.user_name == current_user.user_name %>
    <%= link_to 'Edit', edit_article_path(@article), :class=>"badge badge-secondary" %>
  <% end %>
  <%= link_to 'Back', articles_path, :class=>"badge badge-secondary" %>
</div>